---
const base = import.meta.env.PUBLIC_BASE_PATH_MUSIC

const linkMusic = [
  {
    label: "Home",
    href: `${base}`,
  },
  {
    label: "Videoclips",
    href: `${base}videoclips`,
  },
  {
    label: "Predytube",
    href: `${base}predytube`,
  },
  {
    label: "Discos",
    href: `${base}discos`,
  },
  {
    label: "Conciertos",
    href: `${base}conciertos`,
  },
  {
    label: "Eventos",
    href: `${base}eventos`,
  },
  {
    label: "Recortes de prensa",
    href: `${base}recortes-de-prensa`,
  },
  {
    label: "Extras",
    href: `${base}extras`,
  },
]
---

<nav
  class="text-white shadow-md w-full fixed z-10 border-slate-600 border-b bg-slate-900 py-3 overflow-x-auto"
>
  <ul class="flex justify-center h-10 gap-x-5 align-middle">
    {
      linkMusic.map((link) => (
        <li>
          <a
            href={link.href}
            class="px-1 py-2 flex justify-center align-middle hover:bg-slate-800 hover:rounded-xl w-max"
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
