---
const base = import.meta.env.PUBLIC_BASE_PATH_MUSIC

const linkMusic = [
  {
    label: "Home",
    href: `${base}`,
  },
  {
    label: "Music Videos",
    href: `${base}music-videos`,
  },
  {
    label: "Predytube",
    href: `${base}predytube`,
  },
  {
    label: "Albums",
    href: `${base}albums`,
  },
  {
    label: "Concerts",
    href: `${base}concerts`,
  },
  {
    label: "Events",
    href: `${base}events`,
  },

  {
    label: "Battles",
    href: `${base}events/battles`,
  },

  {
    label: "Press Clippings",
    href: `${base}press-clippings`,
  },
  {
    label: "Extras",
    href: `${base}extras`,
  },
]
---

<nav
  class="text-white shadow-md w-full fixed z-10 border-neutral-600 border-b bg-neutral-900 py-3 overflow-x-auto flex justify-start"
>
  <ul class="flex justify-center h-10 gap-x-5 align-middle mx-10">
    {
      linkMusic.map((link) => (
        <li>
          <a
            href={link.href}
            class="px-1 py-2 flex justify-center align-middle hover:bg-neutral-800 hover:rounded-xl w-max"
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
